.title{
    color: #FF0000;
    -unity-font-style: bold;
    font-size: 20px;
    align-item: center;
}

.bold{
    -unity-font-style: bold;
}

Button{
    -unity-font-align: left;
}

#versionLabel{
}

#WelcomeText{
    padding-top: 5;
}