FloatField {
    min-width: 45px;
}

IMGUIContainer {
    margin: 0px 3px;
}

.Separator {
    -unity-font-style: bold;
    margin-top: 20px;
}

.row {
    flex-direction: row;
    justify-content: center;
}

.title {
    -unity-font-style: bold;
    font-size: 14px;
}