VisualElement {
    margin: 2px;
}

TextElement {
    font-size: 10px;
    padding-top: 5px;
}

Box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1px;
}

Image{
    margin: 1px;
}